body{
    background: silver;
    font-family: arial;
    font-size: 12px;
}

.container {
background: white;
width: 1000px;
margin: 0 auto;
padding: 20px;
box-sizing: border-box;
}

.mainMenu {
    background: #FC3;
    padding: 1px 0px;
    margin: 5px 0px;
    border-radius: 5px;
}

.mainMenu ul li {
    list-style: none;
    display: inline-block;
}

.mainMenu ul li a {
    padding: 8px 15px;
    text-decoration: none;
    color: #047;
    font-weight: bold;
    border-radius: 5px;
}

.mainMenu ul li a:hover {
    background: #047;
    color: #fff;
}


.headerImg {
    border-radius: 5px;
    overflow: hidden;
}

.bodyWrap {
    margin: 10px 0px;
} 

.bodyWrap .sideBar {
    float: right;
    width: 300px;
}

.bodyWrap .textBody {
    width: 630px;
}

.bodyWrap h2 {
    color: #047;
    border-left: 5px solid #fc3;
    padding: 10px 20px;
}

.bodyWrap p {
    text-align: justify;
}

.footer {
    background: #333;
    box-sizing: border-box;
    padding: 10px 20px;
    color: white;
}